.resultadoProfesores{
    display: grid;
    grid-template-columns: 2fr 6fr;
    height: 100vh;
    .main{
        display: flex;
        flex-direction: column;
        height: 100vh;
        .form-editar{
            h2{
                color: #4057A9;
                margin-bottom: 15px;
            }
            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                input{
                    height: 40px;
                    border-radius: 12px;
                    border: 1px solid #8a8a8a;
                    padding-left: 10px;
                }
            }
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .popup{
                .btn-1{
                    color: #F4F4F4;
                    background-color: #4057A9;
                }
                .btn-2{
                    color: #4057A9;
                    border: 2px solid #4057A9
                }
            }
            a{
                align-self: flex-end;
            }
            button{
                margin-top: 79px;
                margin-right: 39px;
                
                height: 46px;
                width: 286px;
                border-radius: 20px;
                border: none;
                background-color: #4057A9;
                color: #FFFFFF;
            }
            .list{
                p{
                    color: #4057A9;
                }
                margin-top: 62px;
                gap: 13px;
                display: flex;
                flex-direction: column;
                .row{
                    padding: 5px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width:691px;
                    background-color: #F4F4F4;
                    border-radius: 20px;
                    .left,
                    .right{
                        display: flex;
                        align-items: center;
                        
                    }
                    .left{
                        img{
                            width: 45px;
                        }
                        gap: 35px;
                    }
                    .right{
                        gap: 15px;
                    }
                    
                    
                }
                
                
            }
        }
        

    }
}