.inicio{
   display: flex;
   flex-direction: column;
   
    height: 100vh;
    .main{
        display: flex;
        margin: auto;
        .cards{
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: auto;
            gap: 21px;
            .left,
            .right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 21px;
            }
            .card{
                display: flex;
                justify-content: center;
                align-items: center;
                color:#454040;
                font-size: 24px;
                font-weight: 800;
                gap: 24px;
                width: 280px;
                height: 139px;
                background-color: #F4F4F4;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
            }
        }
        
    }
}